<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Formulario de automovil</strong>
      </c-card-header>
      <c-card-body>
        <form cForm>
          <div class="mb-3">
            <label cLabel for="nombre">Nombre</label>
            <input name="nombre" [(ngModel)]="autosModel.nombre" cFormControl id="nombre" placeholder="ingrese nombre" type="text" />
          </div>
          <div class="mb-3">
            <label cLabel for="universidad">Universidad</label>
            <input name="universidad" [(ngModel)]="autosModel.docente" cFormControl id="universidad" placeholder="ingrese universidad" type="text" />
          </div>
          <div class="mb-3">
            <label cLabel for="docente">Docente</label>
            <input name="docente" [(ngModel)]="autosModel.materia" cFormControl id="docente" placeholder="ingrese docente" type="text" />
          </div>
          <div class="mb-3">
            <label cLabel for="materia">Materia</label>
            <input name="materia"  [(ngModel)]="autosModel.empresa" cFormControl id="materia" placeholder="ingrese materia" type="text" />
          </div>
          <div class="mb-3">
            <label cLabel for="año">Año</label>
            <input name="anio" [(ngModel)]="autosModel.anio" cFormControl id="año" placeholder="ingrese año" type="number" />
          </div>
          <div class="mb-3">
            <label cLabel for="empresa">Empresa</label>
            <input cFormControl id="empresa" placeholder="ingrese empresa" type="text" />
          </div>
          <div class="mb-3">
            <label cLabel for="usuario">Usuario</label>
            <select aria-label="seleccione usuario" cSelect>
              <option>Open this select menu</option>
              <option value="1">Maria Isabel Fernholz Soto de Montero</option>
              <option value="2">Carlos Montero</option>
              <option value="3">1 Carlos Montero Pantoja</option>
            </select>
          </div>
          <button cButton class="me-1" (click)="postcrear()" color="primary" type="submit">Guardar</button>
        </form>
      </c-card-body>
    </c-card>
  </c-col>

  <c-col xs="12">
    <table cTable>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Universidad</th>
          <th scope="col">Nombre</th>
          <th scope="col">Docente</th>
          <th scope="col">Materia</th>
          <th scope="col">Año</th>
          <th scope="col">Empresa</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
       <!-- <tr *ngFor="let auto of listadeautos; let i = index">
          <th scope="row">{{ i + 1 }}</th>-->
        <!-- <td>{{ auto.universidad }}</td>
          <td>{{ auto.nombre }}</td>
          <td>{{ auto.docente }}</td>
          <td>{{ auto.materia }}</td>
          <td>{{ auto.año }}</td>
          <td>{{ auto.empresa }}</td>-->
          <td>
            <button cButton class="me-1" (click)="postcrear()" cButton color="warning" variant="outline">Editar</button>
            <button cButton color="danger" variant="outline">Eliminar</button>
          </td>
        
      </tbody>
    </table>
  </c-col>
</c-row>
